{% extends 'layout.html' %}

{% block body %}
    <h1>Readers</h1>
    <a class="btn btn-success" href="/search_reader">Search readers</a>
    <a class="btn btn-success" href="/search_unfaith">Search unfaithful readers</a>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Grade</th>
        </tr>
        {% for reader in readers %}
        <tr>
            <td>{{reader.reader_id}}</td>
            <td>{{reader.reader_name}}</td>
            <td>{{reader.gender}}</td>
            <td>{{reader.department}}</td>
            <td>{{reader.user_grade}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}